/*menu desplegable*/
img{
	width:30px;

}

.barra{
	width:9%;
	height:9%;
	position:fixed;
	transition: .4s all;
	z-index:1;
}

.barra ul{
	padding:0px;
	text-align:center;
}

.barra li{
	transition: .3s all;
	color:#0e2829;
}

.barra a{
    text-decoration: none;
    list-style:none;
    transition: .3s all;
    font-size:0;
    padding:0;
}

.barra h2{
	text-align:center;
	color:#fff;
	padding:7px;
	padding-bottom:7px;
	font-size:0;
}

.barra img{
	padding-top:15px;
	margin-bottom:8%;
}

.barra:hover{
	margin-left:0;
	width:35%;
	height:93%;
	background-color:#0a0f0f;
}

.barra:hover h2{
    padding:10px;
    font-size:30px;
    margin-left:10%;
    margin-bottom:2%;
    margin-top:8%;
}

.barra:hover a{
    font-size:20px;
    color:#fff;
    display:block;
    padding:15px;
}

.barra:hover img{
	height:0;
}

.barra:hover li{
	/*border-top:3px solid #000;*/
	width:100%;
}

.barra:hover ul:last-of-type{
    /*border-bottom:3px solid #000;*/
}

.barra:hover a:hover{
	font-size:22px;
	padding:16px 0px;
	background-color:rgba(22,78,112,0.98);
    color:#ff6969;
	background-color:#0b191a;
}
/*menu desplegable*/

*{
	font-family:'Mukta', sans-serif;;
	color:#fff;

}

.cont{
	width:100%;
	height:100%;
	background-color:#0e1616;

}

.info{
	font-size:18px;
	height:100%;
	margin-right:4%;
	margin-left:4%;
	text-align:justify;
    line-height:40px;
}

.info p{
	margin-left:1%;
	margin-right:1%;
}

		/*----titulos----*/


h1{
	padding-top:4%;
    margin-left:4%;
    margin-right:4%;
    border-bottom: solid 3px #ff6969;
}


.sub{
	margin-left:4%;
	margin-right:83%;
	border-bottom: solid 3px #ff6969;
}

		/*----titulos----*/

main{
	background-color:#0d1a1a;
	width:100%;
	height:100%;
	text-align:justify;
    line-height:40px;
}

body{
	padding:;
	background-color:#0d1a1a;
	width:;

}

em, strong{
	color:#ff6969;
}

#use{
	color:#72fcf1;
	color:#0affc2;
}

.pelis img {
	display:flex;
	display:inline-block;
	width:13%;
	height:36vh;
	margin:0 2.5% 0;
	margin-left:4%;
}

.pelis img:hover{
	
	box-shadow:0 0 10px 2px #0affc2;
	transition:.3s all;

}

		/*----barra nav----*/

body::-webkit-scrollbar	{
	width:10px;
}	

body::-webkit-scrollbar-thumb{
	background:#233636;
	border-radius:50px;
}

body::-webkit-scrollbar-thumb:hover{
	background:#355252;
}

		/*----barra nav----*/

.portada{
	height:50vh;
	width:18%;
	display:inline-block;
	display:flex;
	padding-left:4%;

}		

.peliculas{
	
	display:flex;
	padding-top:6%;
	width:100%;
	height:50vh;
	background-color:#0d1a1a;
}

.ttl{
	font-size:35px;
	border-bottom: solid 3px #0affc2;
    margin-right:1%;
    margin-left:1%;
    margin-top:0;
}


.subt{
	font-size:30px;
	border-bottom: solid 3px #0affc2;
	text-align:start;
	margin-top:5%;
	margin-left:4%;
	margin-right:4%;
}

.ver {
	margin-left:4%;
	margin-right:4%;
	text-align:justify;
	font-size:18px;
}

.color{
	color:#0affc2;
	color:#97eff7;
}

.dato{
	color:#97eff7;
}


.trailer{
	display:flex;
	justify-content:center;
	margin-top:5%;
	height:20%;
}

.lista{
	color:#0e1616;
	margin-left:1%;
	
}

.lista a{
   font-style:italic;
   text-decoration:none;
   color:#b5ffed;
}

.lista a:hover{
   color:#0affc2;
}

.ver a{
    font-style:italic;
    text-decoration:none;
    color:#b5ffed;
}

.ver a:hover{
	color:#0affc2;
}

#fondo{
	background-color:#050a0a;
	margin-right:4%;


}

#fondos{
	background-color:#050a0a;
	margin-right:25%;
	margin-left:25%;
}

/*------RESPONSIVE-------*/

@media screen and (max-width:800px){
	.pelis img{
		margin:auto;
		margin-bottom:3%;
		width:auto;
		display:flex;
		display:block;
		
	}

	h1, .ttl, .subt, .sub{
		margin:5%;
		padding:auto;
	}

	.barra:hover{
		width:96%;
		height:97%;
    }

    .barra:hover a{
    	padding:2%;
    	line-height:3;
    }	

    .barra:hover h2{
    	margin-left:9%;
    	padding:;
    }	

    .portada {
    	display:flex;
    	height:100%;
    	width:auto;
    	padding-left:0;
    	margin:auto;
    }

    .peliculas{
    	display:flex;
    	display:block;
    }

    .trailer{
        display:flex;
    	display:block;
    	margin-top:100%;
    	  	
    }

    iframe{
    	margin-left:;
    	margin-top:2%;
        height:auto;
        width:auto;
    }

    .info p{
    	display:flex;
    	margin:4%;
    	height:auto;
    	width:auto;
    	display:block;
    	padding-bottom:5%;
    }

    #fondo {
    	width:auto;
    	height:auto;
    	margin:4%;
    	padding-top:1%;
    	padding-bottom:1%;

    }

    #fondos{
    	display:flex;
    	justify-content: space-around;
    	width:auto;
    	height:100%;
    	margin-top:100%;
    	background-color:#00000000;
    }
}
